<h1>{{= repo}}</h1>


hey there, {{= owner}}!
<br/><br/>
Issues in repo: {{= repo}}
{{each issues}}
<p>
	<a href="{{= $value.url}}">{{= $value.title}}</a><br/>
	<b>{{= $value.state}}</b>
</p>
{{/each}}
<div id="kanban">

	{{each states}}
	
		<div class="kstate" id="k{{= $value}}">
			<h2>{{= $value}}</h2>
			
			
			
		</div>
	
	{{/each}}

</div>

<div>
	<h2>new issue</h2>
	<label>title: <input type="text" id="txtTitle" /></label>
	<label>body: <textarea id="txtBody"></textarea></label>
	<label>state: <select id="selState">
					<option value="design">design</option>
					<option value="development">development</option>
					<option value="test">test</option>
	</label>
</div>